.container{
    text-align: center;
    position: relative;
    margin-left: 20%;
}
.mat{
    text-align: center;
    background-color: whitesmoke;
}
mat-card{
   margin: 5px;
}
img{
    max-height: 150px;
}

