<app-navbar></app-navbar>
<div class="container">
    <h1>Todo lists you created</h1>
    <mat-grid-list cols="4" rowHeight="1:1">

        <mat-grid-tile *ngFor="let todos of todosArray">
            <mat-card class="mat" >
                <img mat-card-image [src]="todos.imagepath" alt="">
                <button mat-button (click)="getClickedTodo(todos)">
                    <p style="font-style: normal;font-weight: bold;">{{todos.todotitle}}</p>
                     <p>item 1,item 2..etc</p>
                </button>
             </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button routerLink='/todosCreate'><label for="">Add Todo</label><mat-icon aria-hidden="false" >add</mat-icon></button>
        </mat-grid-tile>
      </mat-grid-list>
</div>

