.container{
    margin-left: 200px;
    margin-top: 50px;
}
.mat{
    text-align: center;
    background-color: lavender;
}
.todoadd{
    text-align: center;
    background-color: whitesmoke;
}
input[type="file"]{
    visibility: hidden;
}

