<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
      <mat-card>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <h1 style="color: dodgerblue;">Log In</h1>
                     <mat-form-field >
                        <input type="text" placeholder="Enter username" formControlName="username" matInput>
                     </mat-form-field><br>
                    <mat-form-field>
                        <input type="password" placeholder="Enter password" formControlName="password" matInput>
                    </mat-form-field><br>
                    <button type="submit" [disabled]="!loginForm.valid" mat-raised-button color="primary">Submit</button>
      </form>
      </mat-card>
   </div>
