h1 span{
    margin: 5px;
 }
 .titlediv1{
     text-align: center;
 }
.titlediv2{
display: inline-block;
 }
 .titlediv2 input{
     margin-top: 10px;
 }
 .titlediv2 button{
    margin-bottom: 10px;
 }
 .container{
     text-align: center;
     height: 100%;
     }
     mat-card{
         width: 50%;
       left: 20%;
     }
     .checked{
         text-decoration: line-through;
     }