
<div class="titlediv1">
  <div>
    <h1 style="text-align: center;" *ngIf="!editname"><span class="badge badge-secondary">{{todoname}} </span>
      <button mat-button (click)="addname()">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19zM20.71 5.63l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41z"/></svg>
        </button>
      </h1>
  </div>
  
    <div class="titlediv2" *ngIf="editname">
      <input type="text" placeholder="Enter the Title" [formControl]="todonameControl" matInput>
      <button mat-raised-button color="primary" (click)="addtodoname(todonameControl.value)">OK</button>
    </div>
</div>
<div class="container" fxLayout="row" fxLayout.xs="column" >
<mat-card>
  <form>
    <mat-form-field >
     <input type="text"  placeholder="Type here.." [formControl]="todo" matInput>
    </mat-form-field><br>  
    <button type="submit" mat-raised-button color="primary" (click)="addtodo(todo.value)">ADD</button>
  </form>
  <div  *ngIf="divView">
     <p>{{numberComplet}}/{{numberUncomplete}} items completed</p>
     <div *ngFor="let todo of todoArray2">
<mat-list *ngIf="!todo.completed">
  <mat-list-item> <div fxLayout="column">
    <mat-checkbox class="example-margin" color="primary"  (change)="onCheckboxChange($event, todo)"></mat-checkbox>
    <label> {{todo.todoName}}</label> 
    <button (click)="delete(todo)" mat-button fxLayoutAlign="end">
    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4h-3.5z"/></svg>
    </button>
  </div>
   
  </mat-list-item>
</mat-list>
     </div>
    </div>
          <div  *ngIf="divView && numberComplet">
               <div ><p>{{numberComplet}} Completed items</p>
                 <div *ngFor="let todo of todoArray2">
                   <mat-list  *ngIf="todo.completed" > 
                     <mat-list-item>
                      <mat-checkbox class="example-margin" color="primary" [checked]="checked" (change)="onCheckboxChange($event, todo)"></mat-checkbox>
                      <label class="checked">{{todo.todoName}}</label>
                     </mat-list-item>
                     </mat-list>
                 </div>
              </div>
              </div>
</mat-card>
  </div>
