h1 span{
    margin: 5px;
 }
 .titlediv1{
     text-align: center;
 }
.titlediv2{
display: inline-block;
 }
 .titlediv2 input{
     padding: 30px;
 }
 .titlediv2 button{
    margin-bottom: 10px;
 }
 .container{
     text-align: center;
     max-width: 600px;
     }
     li button:hover{
         background-color: red;
     }
     .checked{
         text-decoration: line-through;
     }