.fill-space{
    flex:1 1 auto
}
mat-sidenav-container {
    position: absolute;
    height: 100%;
    width: 20%;
   background-color: white;
 }
mat-sidenav{
    width: 100%;
}
.sidenav2{
    position: absolute;
    height: 100%;
    width: 20%;
   background-color: white;
    box-shadow:3px 3px 3px #888888 ;
}
.space button{
    margin-top: 30px;
}




 