<mat-toolbar color="primary">
    <div fxHide.gt-xs fxShow="true">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <h1>Todo List</h1>
    <span class="fill-space"></span>
    <button  mat-button routerLink="/todolist">View Lists</button>
  </mat-toolbar>
 
  <mat-sidenav-container  >
 <mat-sidenav  #sidenav  opened="false" >
     <mat-sidenav-content  >
        <div fxLayout="column" fxLayoutAlign="space-between none" >
         <button mat-button routerLink="/todoProfile">Profile</button>
         <button mat-button routerLink="/todoAbout">About</button>
            <button mat-button >Item 3</button>
            <button mat-button >Item 4</button>
            <button mat-button >Item 5</button>
          </div>
     </mat-sidenav-content>
       </mat-sidenav>
       </mat-sidenav-container>



       <mat-sidenav-container fxHide.lt-sm class="sidenav2">
        <mat-sidenav  opened="true"  >
            <mat-sidenav-content  >
               <div fxLayout="column" class="space">
                <button mat-button routerLink="/todoProfile">Profile</button>
                <button mat-button routerLink="/todoAbout">About</button>
                <button mat-button >Item 3</button>
                <button mat-button >Item 4</button>
                <button mat-button >Item 5</button>
                 </div>
            </mat-sidenav-content>
              </mat-sidenav>
       </mat-sidenav-container>
    